h1{
    height: 100%;
    width: 1;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    border: 30px solid black;
    color: burlywood;
    background-color: black;
    text-align: center;
    
}
p{ 
    color: rgb(78, 61, 110);
    font-size: x-large;
 }
